*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:'Times New Roman', Times, serif;
    background-color:#949494;
}
.header{
    background-color: rgb(241, 241, 204);
    color:black;
    padding: 20px;
    text-align:center;
    
}


.main {
    padding: 20px;
}

.Dados{
    margin-bottom:30px;
}

.formulario{
    margin-top:5px;
}

.campo{
    padding: 10px;
    margin:5px 0;
    align-items: center;
    font-size: large;
}
.campo label{
    width:60px;
}

.campo input{

    padding:5px;
}
button{
    padding: 10px 20px;
    margin:10px 150px;
    font-size:12px;
}

.destaques {
    gap: 50px;
}
.sub-destaque{
    border: 5px solid #ccc;
    padding: 5px;
    margin:30px;
    font-size: x-large;
    border-radius: 20px;
}
.sub-destaque img{
    min-height: 400px;
}
.curiosidade{
    font-size:18px;
}

.footer {
    background: #222;
    color: white;
    padding: 20px;
    position:relative;
    width: 100%;
}

.foto {
    border-radius: 50%;        
    object-fit: cover; 
    max-height: 300px;
}
.imagem{
    gap:5px;
    margin-top:20px;
}


.banner{
    text-align: center;
    margin-bottom: 30px;
    font-size: x-large;
}

.banner img{
    border-radius:50px;
    max-height: 400px;
}


.Dados a{
    color:black;
}

.nav-link{
    text-decoration: none;
}
.nav-link:hover{
    text-decoration: underline;
}